@charset "UTF-8";
/* ============[ Css Import ]=========== */
@import url(../../public/Resources/css/Font/fontiran.css);
/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
  font-family: IRANSans !important;
  font-weight: 300;
  margin: 0; }

h1, h2, h3, h4, h5, h6, input, textarea, button {
  font-family: IRANSans !important; }

::-webkit-input-placeholder {
  /* Chrome */
  color: white;
  opacity: 0.6; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
  opacity: 0.6; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  opacity: 0.6; }

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: white;
  opacity: 0.6; }

body, html {
  height: 100%; }

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.hi-subjectDashboardAdminProfile_h5 {
  color: #a7a7a7;
  background-color: #00acc0; }

.hi-confirmButtonDashboard {
  width: 100px;
  font-weight: 500;
  box-shadow: 0px 0px 5px #a7a7a7;
  border-radius: 8px;
  background-color: #09686a;
  color: white;
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 10px; }

.hi-confirmButtonDashboard:focus {
  border: 1px solid #09686a; }

.hi-confirmButtonDashboard:active,
.hi-confirmButtonDashboard:focus,
.hi-confirmButtonDashboard.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* ============[ category ]=========== */
.hi-whiteCategoryDashboardBox {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #a7a7a7; }

.hi-roundedDashboardTagsTable_thead {
  background-color: #4d5667; }

.hi-roundedDashboardTagsTable_thead_tr_td_r {
  border-top-right-radius: 10px;
  color: white; }

.hi-roundedDashboardTagsTable_thead_tr_td_l {
  border-top-left-radius: 10px; }

.hi-roundedDashboardTagsTable tbody {
  padding: 0px; }

.hi-roundedDashboardTagsTable {
  border-radius: 10px;
  box-shadow: 0px 0px 5px #a7a7a7; }

/* ============[ delete button ]=========== */
.hi-roundedDashboardTagsTable_thead_tr_td_button {
  border-color: #b32e2e;
  font-weight: 500;
  font-family: IRANSans;
  background-color: #b32e2e;
  color: white; }

.hi-roundedDashboardTagsTable_thead_tr_td_button:focus {
  box-shadow: 0 0 0 2px rgba(179, 46, 46, 0.5); }

/* ============[ input ]=========== */
.hi-whiteCategoryDashboardBox_input {
  border-radius: 8px;
  border: 1px solid #a7a7a7;
  height: 50px;
  width: 280px; }

.hi-whiteCategoryDashboardBox_input:focus {
  border: 1px solid #09686a; }

/* ============[ confirm button ]=========== */
.hi-whiteCategoryDashboardBox_button {
  width: 90px;
  font-weight: 400;
  box-shadow: 0px 0px 5px #a7a7a7;
  border-radius: 8px;
  background-color: #027398;
  color: white;
  font-size: larger;
  padding-top: 8px;
  padding-bottom: 8px; }

.hi-whiteCategoryDashboardBox_button:active,
.hi-whiteCategoryDashboardBox_button:focus,
.hi-whiteCategoryDashboardBox_button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* ============[ pagination]=========== */
.dashboardPaginatinBs > ul.pagination > li:last-child > a {
  border-radius: 5px 0 0 5px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background-color: #ebebeb; }

.dashboardPaginatinBs > ul.pagination > li:first-child > a {
  border-radius: 0 5px 5px 0;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-color: #ebebeb; }

.dashboardPaginatinBs > ul.pagination > li.active > a {
  border: 1px solid #4d5667 !important;
  border-right: 1px solid transparent !important;
  background-color: #4d5667 !important; }

.dashboardPaginatinBs > ul.pagination > li > a {
  color: #4d5667;
  font-weight: 500; }

.dashboardPaginatinBs > ul.pagination > li > a, nav > ul.pagination > li > a:hover, nav > ul.pagination > li > a:focus {
  border: 1px solid #4d5667;
  color: #4d5667; }

/* ============[ Components Css Import ]=========== */
.hi-profileCard {
  border-radius: 8px;
  box-shadow: 0 0 5px #a7a7a7; }

.card-header.hi-profileCard_cardHeader {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px; }

.hi-profileCard_cardHeader {
  height: auto;
  padding-top: 44px;
  padding-bottom: 44px;
  background-color: #2b4748; }

.hi-profileCard_PictureSelectorBox {
  margin-top: -72px; }

.hi-profileCard_PictureSelectorBox_picture {
  border-radius: 62px;
  border: 4px solid white; }

/* Zoom In #1 */
.hi-profileCard_PictureSelectorBox_pictureBox_hover figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.hi-profileCard_PictureSelectorBox_pictureBox_hover figure:hover img {
  -webkit-transform: scale(1.03);
  transform: scale(1.03); }

.hi-profileCard_PictureSelectorBox_selector {
  /* --- RESET --- */
  /* --- DEMO METRO THEME --- */
  /* PREFIXED CSS */
  /* WRAPPER */
  /*change squere carat color*/
  /* CARAT */
  /* OLD SELECT (HIDDEN) */
  /* SELECTED FEEDBACK ITEM */
  /* DROP DOWN WRAPPER */
  /* Height is adjusted by JS on open */
  /* FADE OVERLAY FOR SCROLLING LISTS */
  /* DROP DOWN LIST */
  /* DROP DOWN LIST ITEMS */
  /* .focus class is also added on hover */ }
  .hi-profileCard_PictureSelectorBox_selector ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
    vertical-align: baseline; }
  .hi-profileCard_PictureSelectorBox_selector .dropdown {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    position: relative;
    width: 160px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  .hi-profileCard_PictureSelectorBox_selector .dropdown:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  .hi-profileCard_PictureSelectorBox_selector .dropdown select {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px; }
  .hi-profileCard_PictureSelectorBox_selector .metro,
  .hi-profileCard_PictureSelectorBox_selector .metro div,
  .hi-profileCard_PictureSelectorBox_selector .metro li,
  .hi-profileCard_PictureSelectorBox_selector .metro div::after,
  .hi-profileCard_PictureSelectorBox_selector .metro .carat,
  .hi-profileCard_PictureSelectorBox_selector .metro .carat:after,
  .hi-profileCard_PictureSelectorBox_selector .metro .selected::after,
  .hi-profileCard_PictureSelectorBox_selector .metro:after {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out; }
  .hi-profileCard_PictureSelectorBox_selector .metro .selected::after,
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable div::after {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none; }
  .hi-profileCard_PictureSelectorBox_selector .metro {
    position: relative;
    width: 125px;
    cursor: pointer;
    margin-bottom: 30px;
    font-weight: 200;
    background: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  .hi-profileCard_PictureSelectorBox_selector .metro.open {
    z-index: 2; }
  .hi-profileCard_PictureSelectorBox_selector .metro:after {
    content: '';
    position: absolute;
    right: 3px;
    bottom: 3px;
    top: 2px;
    width: 30px;
    background: transparent; }
  .hi-profileCard_PictureSelectorBox_selector .metro.focus:after {
    background-color: transparent; }
  .hi-profileCard_PictureSelectorBox_selector .metro .carat,
  .hi-profileCard_PictureSelectorBox_selector .metro .carat:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -4px;
    border: 8px solid transparent;
    border-top: 8px solid #000;
    z-index: 2;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -ms-transform-origin: 50% 20%;
    transform-origin: 50% 20%; }
  .hi-profileCard_PictureSelectorBox_selector .metro .carat:after {
    margin-top: -10px;
    left: -8px;
    border-top-color: white;
    /* change the color of apart of carat*/ }
  .hi-profileCard_PictureSelectorBox_selector .metro:hover .carat:after {
    border-top-color: white; }
  .hi-profileCard_PictureSelectorBox_selector .metro.focus .carat {
    border-top: 8px solid #000; }
  .hi-profileCard_PictureSelectorBox_selector .metro.focus .carat:after {
    border-top-color: white; }
  .hi-profileCard_PictureSelectorBox_selector .metro.open .carat {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .hi-profileCard_PictureSelectorBox_selector .metro .old {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden; }
  .hi-profileCard_PictureSelectorBox_selector .metro select {
    position: absolute;
    left: 0px;
    top: 0px; }
  .hi-profileCard_PictureSelectorBox_selector .metro.touch select {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .hi-profileCard_PictureSelectorBox_selector .metro .selected,
  .hi-profileCard_PictureSelectorBox_selector .metro li {
    display: block;
    font-size: 14px;
    line-height: 1;
    color: #000;
    padding: 9px 15px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500; }
  .hi-profileCard_PictureSelectorBox_selector .metro span {
    text-align: center; }
  .hi-profileCard_PictureSelectorBox_selector .metro .selected::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    border-radius: 0 2px 2px 0; }
  .hi-profileCard_PictureSelectorBox_selector .metro div {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -1px;
    background: white;
    overflow: hidden;
    opacity: 0;
    border: 1px solid #2b4748; }
  .hi-profileCard_PictureSelectorBox_selector .metro:hover div {
    background: white; }
  .hi-profileCard_PictureSelectorBox_selector .metro.open div {
    opacity: 1;
    z-index: 2; }
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable div::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    box-shadow: inset 0 -50px 30px -35px #f8f8f8; }
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable:hover div::after {
    box-shadow: inset 0 -50px 30px -35px #f4f4f4; }
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable.bottom div::after {
    opacity: 0; }
  .hi-profileCard_PictureSelectorBox_selector .metro ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden; }
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable.open ul {
    overflow-y: auto; }
  .hi-profileCard_PictureSelectorBox_selector .metro li {
    list-style: none;
    padding: 8px 12px;
    text-align: center; }
  .hi-profileCard_PictureSelectorBox_selector .metro li.focus {
    background: #2b4748;
    position: relative;
    z-index: 3;
    color: #fff; }
  .hi-profileCard_PictureSelectorBox_selector .metro li.active {
    background: #2b4748;
    color: #fff; }

.hi-profileCard_formBox_input {
  border-radius: 0;
  border: 1px solid #a7a7a7; }

.hi-profileCard_formBox_input:focus {
  border: 1px solid #2b4748; }

.hi-roundedDashboardTagsTable td {
  border-top: 1px solid black;
  font-weight: 500; }

.hi-roundedDashboardTagsTable tr {
  border-radius: 8px; }

a:focus, a:hover, a {
  color: transparent;
  text-decoration: none; }

.hi-roundedDashboardTagsTable thead td {
  border-top: 1px solid transparent; }

/* ============[ edit & delete]=========== */
.hi-roundedDashboardTagsTable_tbody_tr_td_edit a {
  color: #2e98b3; }

.hi-roundedDashboardTagsTable_tbody_tr_td_delete a {
  color: #b32e2e; }

/* ============[ check box ]=========== */
.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox {
  cursor: pointer; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox span {
  line-height: 24px; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox span::before {
  margin-right: 4px;
  padding-left: 1px;
  width: 21px;
  height: 21px;
  border: 2px solid grey;
  display: inline-block;
  line-height: 14px;
  content: '';
  float: right;
  border-radius: 5px; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox input[type="checkbox"] {
  display: none; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox input[type="checkbox"]:checked + span::before {
  font-family: FontAwesome;
  content: "\f00c";
  color: #4d5667; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li {
  list-style-type: none; }

.hi-aboutMePanelCard {
  border-radius: 8px;
  box-shadow: 0px 0px 5px #a7a7a7; }

.card-header.hi-aboutMePanelCard_card-header {
  background-color: #2b4748;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px; }

.hi-aboutMePanelCard_textarea:focus, .hi-aboutMePanelCard_input:focus {
  border: 1px solid #2b4748; }

.hi-aboutMePanelCard_textarea {
  height: 125.5px;
  resize: none; }

.hi-aboutMePanelCard_textarea, .hi-aboutMePanelCard_input {
  border-radius: 0;
  border: 1px solid #a7a7a7;
  text-align: right; }

.hi-aboutMePanelCard_label {
  font-weight: 400; }

/* ============[ Global Table Stykes ]=========== */
.table {
  direction: rtl;
  text-align: right;
  /* ==========[ Table Header Style ]========= */
  /* ==========[ Each Table Row Style ]========= */ }
  .table th {
    text-align: center;
    font-weight: 700; }
  .table .table_tableHeader {
    background-color: #3B4452 !important; }
  .table td {
    text-align: center;
    font-weight: 100;
    vertical-align: middle;
    border-top: transparent;
    /* ==========[ More button right border ]========= */ }
    .table td:last-child {
      border-right: 1px solid #C6CBD0; }
  .table tr {
    border: 1px solid #C6CBD0; }
    .table tr:nth-child(2n) {
      background-color: #D7DFE8; }
  .table .active_row {
    background-color: #D7DFE8; }

/* ==========[ Table Dropdown Style ]========= */
.table_dropDown .dropdown-menu {
  min-width: 7rem !important; }
.table_dropDown .dropdown-toggle::after {
  content: ' ' !important;
  display: none; }

.slider_table_dropDown {
  line-height: 1.0 !important; }
  .slider_table_dropDown #dropdownMenuButton {
    color: black !important;
    border: 1px solid lightgray !important;
    border-radius: 0px !important; }
    .slider_table_dropDown #dropdownMenuButton:hover {
      -webkit-filter: brightness(100%) !important; }
  .slider_table_dropDown .dropdown-menu {
    min-width: 3rem !important; }
  .slider_table_dropDown .dropdown-toggle::after {
    font-family: "FontAwesome";
    display: none; }
  .slider_table_dropDown .dropdown-divider {
    margin-top: -5px !important; }

/* ==========[ Users Table Style ]========= */
.userInfoPlace {
  display: flex; }

.username {
  margin: auto 10px; }

.userConfirmTick {
  width: 30px;
  height: 20px; }

/* ============[ Pagination ]=========== */
.pagination {
  border-radius: 10px; }

/* ============[ Each pagination number item ]=========== */
.page-link {
  color: #1F232C;
  font-weight: 400;
  border: 1px solid #3B4452; }
  .page-link:focus {
    background-color: #3B4452;
    color: whitesmoke;
    border: 1px solid #3B4452; }
  .page-link:hover {
    border: 1px solid #3B4452; }

/* ============[ Next and Prev buttons of Pagination ]=========== */
.nextBtn, .prevBtn {
  background-color: #EAEBEC; }

.nextBtn {
  border-top-left-radius: 9px !important;
  border-bottom-left-radius: 9px !important; }

.prevBtn {
  border-top-right-radius: 9px !important;
  border-bottom-right-radius: 9px !important; }

.adminCard {
  border-radius: 10px; }

.adminCard_btn {
  background-color: #3B4452;
  color: whitesmoke;
  border-radius: 20px;
  border: transparent;
  box-shadow: none !important;
  font-size: 12px;
  padding-right: 20px;
  padding-left: 20px;
  transition: all 0.3s ease; }
  .adminCard_btn:hover {
    background-color: #3B4452; }
  .adminCard_btn:focus {
    background-color: #3B4452;
    color: whitesmoke !important; }

.adminCard_dropdown {
  font-size: 13px;
  border-radius: 10px;
  text-align: right;
  font-weight: 100;
  min-width: inherit !important; }

.hvr-sweep-to-top:before {
  background: #1F232C !important; }

.posts_dropdown #dropdownMenuButton {
  color: #1F232C !important;
  border: 1px solid #1F232C !important;
  border-radius: 10px;
  font-weight: 400 !important;
  direction: rtl;
  font-size: 12px !important;
  padding-left: 20px; }
.posts_dropdown .dropdown-item {
  direction: rtl !important; }

/* ============[ Top Bar Dropdown ]=========== */
.Topbar_dropdown_container {
  padding-top: 10px;
  padding-right: 0;
  margin-right: -50px; }

.Topbar_dropdown #dropdownMenuButton {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  border: transparent;
  color: ghostwhite;
  transition: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 14px; }
  .Topbar_dropdown #dropdownMenuButton:hover {
    cursor: pointer;
    background-color: transparent;
    color: white;
    -webkit-filter: brightness(120%); }
.Topbar_dropdown .dropdown-toggle {
  background-color: transparent !important;
  color: whitesmoke !important;
  border: none !important;
  outline: none; }
.Topbar_dropdown .dropdown-toggle::after {
  font-family: "FontAwesome";
  content: "\f078";
  border: none;
  margin-right: 10px;
  margin-top: -15px; }
.Topbar_dropdown .dropdown-item {
  font-weight: 300;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black; }
  .Topbar_dropdown .dropdown-item:active {
    background-color: transparent !important;
    outline: none; }
.Topbar_dropdown .dropdown-menu {
  border: transparent; }
.Topbar_dropdown .dropdown-divider {
  background-color: grey; }

/* ============[ Layouts Css Import ]=========== */
/* ============[ Top Bar ]=========== */
.Topbar {
  background-color: #3B4452;
  position: fixed;
  z-index: 1000; }

.Topbar_paddings {
  padding: 7px 25px; }

.Topbar_rowOfItems {
  direction: rtl !important; }

.Topbar_button {
  margin-top: auto;
  margin-bottom: auto; }

/* ============[ Top Bar Avatar ]=========== */
.Topbar_avatar_container {
  margin-right: -20px; }

.Topbar_avatar {
  border-radius: 50%;
  background-color: white;
  width: 45px;
  height: 45px;
  margin-top: 2px;
  margin-bottom: 2px; }

/* ============[ Top Bar Search ]=========== */
.hi-search-1 {
  background-color: #656c76; }

/* ============[ Top Bar logout ]=========== */
.Topbar_logoutBtn {
  margin-top: 5px; }

/* ============[ Top Bar Notifications ]=========== */
.Topbar_notificationBtn {
  /* ============[ Fixing Firefox ]=========== */ }
  .Topbar_notificationBtn .badge {
    z-index: 100;
    margin-left: -10px;
    margin-top: -7px;
    height: 20px;
    position: relative; }
@-moz-document url-prefix() {
  .Topbar_notificationBtn i {
    margin-top: -10px; }
  .Topbar_notificationBtn .badge {
    margin-left: 10px; } }
/* ============[ Main Body ]=========== */
#MainBody {
  margin-top: 80px; }

/* ============[ Side Bar ]=========== */
.Sidebar {
  background-color: #1F232C;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee; }

/* ============[ Sidebar Logo ]=========== */
.Sidebar_logo {
  display: flex;
  border-bottom: 1px solid grey;
  height: 64px;
  transition: all 0.3s ease; }
  .Sidebar_logo h1 {
    font-size: 20px;
    text-align: right;
    font-weight: 300;
    line-height: 60px;
    position: absolute;
    right: 95px; }
  .Sidebar_logo img {
    width: 55px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 30px; }
  .Sidebar_logo:hover {
    -webkit-filter: brightness(150%); }

/* ============[ Fixing the menu styles after adding wave jquery ]=========== */
#home, #posts, #gallery, #messages, #users, #comments, #admins, #settings, #backup {
  width: 100%;
  box-shadow: none;
  text-align: right;
  transition: all 0.3s ease;
  padding-left: 30px;
  padding-right: 20px; }
  #home:hover .Sidebar_menu_link, #home:focus .Sidebar_menu_link, #posts:hover .Sidebar_menu_link, #posts:focus .Sidebar_menu_link, #gallery:hover .Sidebar_menu_link, #gallery:focus .Sidebar_menu_link, #messages:hover .Sidebar_menu_link, #messages:focus .Sidebar_menu_link, #users:hover .Sidebar_menu_link, #users:focus .Sidebar_menu_link, #comments:hover .Sidebar_menu_link, #comments:focus .Sidebar_menu_link, #admins:hover .Sidebar_menu_link, #admins:focus .Sidebar_menu_link, #settings:hover .Sidebar_menu_link, #settings:focus .Sidebar_menu_link, #backup:hover .Sidebar_menu_link, #backup:focus .Sidebar_menu_link {
    color: #12a3d9 !important;
    text-decoration: none !important; }

/* ============[ Submenu styling of navigation menu ]=========== */
.Sidebar_menu_link {
  color: whitesmoke !important;
  text-decoration: none;
  text-align: right;
  transition: color 0.3s ease;
  font-weight: 100;
  font-size: 17px; }
  .Sidebar_menu_link:hover, .Sidebar_menu_link:focus {
    color: #12a3d9 !important;
    text-decoration: none !important; }
  .Sidebar_menu_link .fa-chevron-left {
    float: left; }
  .Sidebar_menu_link .countBadge {
    font-weight: 100;
    padding-top: 6px; }

/* ============[ Submenu styling of navigation menu ]=========== */
.subMenu {
  color: #b0b7c7;
  padding-right: 65px;
  font-size: 15px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  transition: all 0.3s ease; }
  .subMenu:hover, .subMenu:focus {
    color: #12a3d9 !important;
    text-decoration: none !important; }

/* ==========[ Background card stle in pages ]========= */
.bgCard {
  border-radius: 10px;
  padding: 20px 50px; }

/* ============[ Main pages Style ]=========== */
#MainBody {
  padding: 20px 30px; }

/*# sourceMappingURL=application.css.map */
