@charset "UTF-8";
/* ============[ Css Import ]=========== */
@import url(../../public/Resources/css/Font/fontiran.css);
/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
  font-family: IRANSans !important;
  font-weight: 300;
  margin: 0; }

h1, h2, h3, h4, h5, h6, input, textarea, button {
  font-family: IRANSans !important; }

::-webkit-input-placeholder {
  /* Chrome */
  color: white;
  opacity: 0.6; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
  opacity: 0.6; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  opacity: 0.6; }

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: white;
  opacity: 0.6; }

body, html {
  height: 100%; }

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.clock {
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 50%; }

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0; }

.expand {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%); }

.anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0; }

.element {
  position: absolute;
  top: 0;
  left: 0; }

.round {
  border-radius: 296px; }

.circle-1 {
  width: 6px;
  height: 6px;
  border: 3px solid white; }

.circle-2 {
  width: 4px;
  height: 4px;
  border: 2px solid #FA9F22; }

.second {
  transform: rotate(180deg); }

.minute {
  transform: rotate(54deg); }

.second-hand {
  width: 2px;
  background: #FA9F22; }

.second-hand-front {
  width: 2px;
  height: 137px;
  background: #FA9F22;
  transform: translate(-50%, -100%) translateY(-3px); }

.second-hand-back {
  width: 2px;
  height: 21px;
  background: #FA9F22;
  opacity: 1;
  transform: translate(-50%, -100%) translateY(24px); }

.hour {
  transform: rotate(304.5deg); }

.thin-hand {
  width: 4px;
  height: 50px;
  background: white;
  transform: translate(-50%, -100%) translateY(-5px); }

.fat-hand {
  box-sizing: border-box;
  width: 10px;
  height: 57px;
  border-radius: 10px;
  background: white;
  transform: translate(-50%, -100%) translateY(-18px); }

.minute-hand {
  height: 112px; }

.minute-line {
  background: white;
  width: 1px;
  height: 9px;
  transform: translate(-50%, -100%) translateY(-131px);
  opacity: 0.34; }

.major.minute-line {
  opacity: 0.5; }

.minute-text {
  font: 12px Avenir Next, Helvetica;
  color: white;
  top: -135px; }

.hour-pill {
  background: white;
  width: 6px;
  height: 35px;
  border-radius: 10px;
  transform: translate(-50%, -100%) translateY(-85px);
  opacity: 0.75; }

.hour-text {
  font: 40px Hei, Helvetica;
  color: white;
  top: -105px; }

.hour-10 .content {
  padding-left: 0.4ex; }

.hour-11 .content {
  padding-left: 0.25ex; }

/* Now, customizations! */
/* Customize: hour */
.hour-style-text .hour-pill {
  opacity: 0; }

.hour-style-pill .hour-text {
  opacity: 0; }

.hour-style-text-quarters .hour-1.hour-text,
.hour-style-text-quarters .hour-2.hour-text,
.hour-style-text-quarters .hour-3.hour-pill,
.hour-style-text-quarters .hour-4.hour-text,
.hour-style-text-quarters .hour-5.hour-text,
.hour-style-text-quarters .hour-6.hour-pill,
.hour-style-text-quarters .hour-7.hour-text,
.hour-style-text-quarters .hour-8.hour-text,
.hour-style-text-quarters .hour-9.hour-pill,
.hour-style-text-quarters .hour-10.hour-text,
.hour-style-text-quarters .hour-11.hour-text,
.hour-style-text-quarters .hour-12.hour-pill {
  opacity: 0; }

/* Customize: hour-text */
.hour-text-style-small .hour-text {
  font-size: 24px;
  top: -113px; }

/* Customize: hour-display */
.hour-display-style-quarters .hour-1,
.hour-display-style-quarters .hour-2,
.hour-display-style-quarters .hour-4,
.hour-display-style-quarters .hour-5,
.hour-display-style-quarters .hour-7,
.hour-display-style-quarters .hour-8,
.hour-display-style-quarters .hour-10,
.hour-display-style-quarters .hour-11 {
  opacity: 0; }

.hour-display-style-none .hour-item {
  opacity: 0; }

/* Customize: minute */
.minute-style-dot .minute-line {
  width: 6px;
  height: 6px;
  transform: translate(-50%, -100%) translateY(-134px);
  border-radius: 6px;
  opacity: 0.75; }

.minute-style-dot .part.minute-line,
.minute-style-dot.hour-style-pill .major.minute-line {
  opacity: 0; }

.minute-style-dot .hour-pill {
  transform: translate(-50%, -100%) translateY(-100px);
  height: 40px; }

/* Customize: minute text */
.minute-text-style-inside .major.minute-line {
  opacity: 0; }

.minute-text-style-outside .minute-text {
  top: -152px;
  font-size: 14px; }

.minute-text-style-none .minute-text {
  opacity: 0; }

/* Customize: Minute display */
.minute-style-line.minute-display-style-fine-2 .whole.minute-line,
.minute-style-line.minute-display-style-fine-2 .major.minute-line {
  height: 13px;
  transform: translate(-50%, -100%) translateY(-127px); }

.minute-style-line.minute-display-style-fine-2 .part.minute-line {
  height: 8px;
  transform: translate(-50%, -100%) translateY(-132px); }

.minute-display-style-coarse .part.minute-line {
  opacity: 0; }

.minute-display-style-major .part.minute-line,
.minute-display-style-major .whole.minute-line {
  opacity: 0; }

.minute-display-style-none .part.minute-line,
.minute-display-style-none .major.major.minute-line,
.minute-display-style-none .whole.minute-line {
  opacity: 0; }

/* Customize: hand */
.hand-style-hollow .fat-hand {
  background: black;
  border: 2px solid white; }

/* Customizer */
#chooser {
  font: 10px Verdana, sans-serif;
  position: absolute;
  top: 4px;
  left: 4px;
  color: white;
  z-index: 1;
  opacity: 0.5; }

#chooser div {
  cursor: pointer; }

#chooser div:hover {
  background: rgba(255, 255, 255, 0.4); }

.hi-subjectDashboardAdminProfile_h5 {
  color: #a7a7a7; }

/* ============[ confirm button admin ]=========== */
.hi-confirmButtonDashboard {
  width: 100px;
  font-weight: 500;
  box-shadow: 0 0 5px #a7a7a7;
  border-radius: 8px;
  background-color: #09686a;
  color: white;
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 4.5px; }

.hi-confirmButtonDashboard:focus {
  border: 1px solid #09686a; }

.hi-confirmButtonDashboard:active,
.hi-confirmButtonDashboard:focus,
.hi-confirmButtonDashboard.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* ============[ category ]=========== */
.categoryRightDirection {
  direction: rtl; }

.hi-whiteCategoryDashboardBox {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px #a7a7a7; }

.hi-roundedDashboardTagsTable_thead {
  background-color: #4d5667; }

.hi-roundedDashboardTagsTable_thead_tr_td_r {
  border-top-right-radius: 10px;
  color: white; }

.hi-roundedDashboardTagsTable_thead_tr_td_l {
  border-top-left-radius: 10px; }

.hi-roundedDashboardTagsTable tbody {
  padding: 0; }

.hi-roundedDashboardTagsTable {
  border-radius: 10px;
  box-shadow: 0 0 5px #a7a7a7; }

/* ============[ delete button ]=========== */
.hi-roundedDashboardTagsTable_thead_tr_td_button {
  border-color: #b32e2e;
  font-weight: 500;
  font-family: IRANSans;
  background-color: #b32e2e;
  color: white; }

.hi-roundedDashboardTagsTable_thead_tr_td_button:focus {
  box-shadow: 0 0 0 2px rgba(179, 46, 46, 0.5); }

/* ============[ input ]=========== */
.hi-whiteCategoryDashboardBox_input {
  border-radius: 8px;
  border: 1px solid #a7a7a7;
  height: 50px;
  width: 280px; }

.hi-whiteCategoryDashboardBox_input:focus {
  border: 1px solid #4d5667; }

/* ============[ confirm button ]=========== */
.hi-whiteCategoryDashboardBox_button {
  width: 90px;
  font-weight: 400;
  box-shadow: 0 0 5px #a7a7a7;
  border-radius: 8px;
  background-color: #027398;
  color: white;
  font-size: larger;
  padding-top: 8px;
  padding-bottom: 8px; }

.hi-whiteCategoryDashboardBox_button:active,
.hi-whiteCategoryDashboardBox_button:focus,
.hi-whiteCategoryDashboardBox_button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* ============[ pagination]=========== */
.dashboardPaginatinBs {
  direction: rtl;
  margin: 0 auto; }

.dashboardPaginatinBs > ul.pagination > li:last-child > a {
  border-radius: 5px 0 0 5px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #ebebeb; }

.dashboardPaginatinBs > ul.pagination > li:first-child > a {
  border-radius: 0 5px 5px 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: #ebebeb; }

.dashboardPaginatinBs > ul.pagination > li.active > a {
  border: 1px solid #4d5667 !important;
  border-right: 1px solid transparent !important;
  background-color: #4d5667 !important; }

.dashboardPaginatinBs > ul.pagination > li > a {
  color: #4d5667;
  font-weight: 500; }

.dashboardPaginatinBs > ul.pagination > li > a, nav > ul.pagination > li > a:hover, nav > ul.pagination > li > a:focus {
  border: 1px solid #4d5667;
  color: #4d5667; }

/* ============[ Settings Page]=========== */
.contactUsInfo_line {
  width: 104%;
  margin-left: -2%;
  border-top: 1px solid lightgray; }

.contactUsInfo_textarea {
  width: 100%;
  border-radius: 5px; }

.rulesAndGuidesInfo_textarea {
  width: 70%;
  border-radius: 5px; }

.rowOfInputs {
  direction: rtl; }

/* ============[ Home Page]=========== */
.card_simple {
  border-radius: 10px; }

/* ==========[ Background card stle in pages ]========= */
.bgCard {
  border-radius: 10px;
  padding: 20px 50px; }

/* ============[ Main pages Style ]=========== */
#MainBody {
  padding: 20px 30px; }

/* ============[ create post]=========== */
.createPostBox {
  direction: rtl; }

#panel, #flip {
  padding: 0px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
  width: 260px; }

#flip {
  padding: 5px; }

#panel {
  padding: 0px;
  display: none; }

/* ============[ Components Css Import ]=========== */
.hi-profileCard {
  border-radius: 8px;
  box-shadow: 0 0 5px #a7a7a7; }

.card-header.hi-profileCard_cardHeader {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px; }

.hi-profileCard_cardHeader {
  height: auto;
  padding-top: 44.8px;
  padding-bottom: 44.8px;
  background-color: #2b4748; }

.hi-profileCard_PictureSelectorBox {
  margin-top: -72px; }

.hi-profileCard_PictureSelectorBox_picture {
  border-radius: 62px;
  border: 4px solid white; }

/* Zoom In #1 */
.hi-profileCard_PictureSelectorBox_pictureBox_hover figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.hi-profileCard_PictureSelectorBox_pictureBox_hover figure:hover img {
  -webkit-transform: scale(1.03);
  transform: scale(1.03); }

.hi-profileCard_PictureSelectorBox_selector_first {
  margin-left: -17px; }

.hi-profileCard_PictureSelectorBox_selector {
  /* --- RESET --- */
  /* --- DEMO METRO THEME --- */
  /* PREFIXED CSS */
  /* WRAPPER */
  /*change squere carat color*/
  /* CARAT */
  /* OLD SELECT (HIDDEN) */
  /* SELECTED FEEDBACK ITEM */
  /* DROP DOWN WRAPPER */
  /* Height is adjusted by JS on open */
  /* FADE OVERLAY FOR SCROLLING LISTS */
  /* DROP DOWN LIST */
  /* DROP DOWN LIST ITEMS */
  /* .focus class is also added on hover */ }
  .hi-profileCard_PictureSelectorBox_selector ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
    vertical-align: baseline; }
  .hi-profileCard_PictureSelectorBox_selector .dropdown {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 200px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  .hi-profileCard_PictureSelectorBox_selector .col-4 {
    border: 1px solid red;
    background-color: #00acc1; }
  .hi-profileCard_PictureSelectorBox_selector .dropdown:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  .hi-profileCard_PictureSelectorBox_selector .dropdown select {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px; }
  .hi-profileCard_PictureSelectorBox_selector .metro,
  .hi-profileCard_PictureSelectorBox_selector .metro div,
  .hi-profileCard_PictureSelectorBox_selector .metro li,
  .hi-profileCard_PictureSelectorBox_selector .metro div::after,
  .hi-profileCard_PictureSelectorBox_selector .metro .carat,
  .hi-profileCard_PictureSelectorBox_selector .metro .carat:after,
  .hi-profileCard_PictureSelectorBox_selector .metro .selected::after,
  .hi-profileCard_PictureSelectorBox_selector .metro:after {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out; }
  .hi-profileCard_PictureSelectorBox_selector .metro .selected::after,
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable div::after {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none; }
  .hi-profileCard_PictureSelectorBox_selector .metro {
    position: relative;
    width: 103px;
    cursor: pointer;
    margin-bottom: 30px;
    font-weight: 200;
    background: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  .hi-profileCard_PictureSelectorBox_selector .metro.open {
    z-index: 2; }
  .hi-profileCard_PictureSelectorBox_selector .metro:after {
    content: '';
    position: absolute;
    right: 3px;
    bottom: 3px;
    top: 2px;
    width: 30px;
    background: transparent; }
  .hi-profileCard_PictureSelectorBox_selector .metro.focus:after {
    background-color: transparent; }
  .hi-profileCard_PictureSelectorBox_selector .metro .carat,
  .hi-profileCard_PictureSelectorBox_selector .metro .carat:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -4px;
    border: 8px solid transparent;
    border-top: 8px solid #000;
    z-index: 2;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -ms-transform-origin: 50% 20%;
    transform-origin: 50% 20%; }
  .hi-profileCard_PictureSelectorBox_selector .metro .carat:after {
    margin-top: -10px;
    left: -8px;
    border-top-color: white;
    /* change the color of apart of carat*/ }
  .hi-profileCard_PictureSelectorBox_selector .metro:hover .carat:after {
    border-top-color: white; }
  .hi-profileCard_PictureSelectorBox_selector .metro.focus .carat {
    border-top: 8px solid #000; }
  .hi-profileCard_PictureSelectorBox_selector .metro.focus .carat:after {
    border-top-color: white; }
  .hi-profileCard_PictureSelectorBox_selector .metro.open .carat {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .hi-profileCard_PictureSelectorBox_selector .metro .old {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden; }
  .hi-profileCard_PictureSelectorBox_selector .metro select {
    position: absolute;
    left: 0px;
    top: 0px; }
  .hi-profileCard_PictureSelectorBox_selector .metro.touch select {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .hi-profileCard_PictureSelectorBox_selector .metro .selected,
  .hi-profileCard_PictureSelectorBox_selector .metro li {
    display: block;
    font-size: 14px;
    line-height: 1;
    color: #000;
    padding: 9px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500; }
  .hi-profileCard_PictureSelectorBox_selector .metro span {
    text-align: right; }
  .hi-profileCard_PictureSelectorBox_selector .metro .selected::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    border-radius: 0 2px 2px 0; }
  .hi-profileCard_PictureSelectorBox_selector .metro div {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -1px;
    background: white;
    overflow: hidden;
    opacity: 0;
    border: 1px solid #2b4748; }
  .hi-profileCard_PictureSelectorBox_selector .metro:hover div {
    background: white; }
  .hi-profileCard_PictureSelectorBox_selector .metro.open div {
    opacity: 1;
    z-index: 2; }
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable div::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    box-shadow: inset 0 -50px 30px -35px #f8f8f8; }
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable:hover div::after {
    box-shadow: inset 0 -50px 30px -35px #f4f4f4; }
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable.bottom div::after {
    opacity: 0; }
  .hi-profileCard_PictureSelectorBox_selector .metro ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden; }
  .hi-profileCard_PictureSelectorBox_selector .metro.scrollable.open ul {
    overflow-y: auto; }
  .hi-profileCard_PictureSelectorBox_selector .metro li {
    list-style: none;
    padding: 8px 12px;
    text-align: center; }
  .hi-profileCard_PictureSelectorBox_selector .metro li.focus {
    background: #2b4748;
    position: relative;
    z-index: 3;
    color: #fff; }
  .hi-profileCard_PictureSelectorBox_selector .metro li.active {
    background: #2b4748;
    color: #fff; }

.hi-profileCard_formBox_input {
  border: 1px solid #a7a7a7; }

.hi-profileCard_formBox_input:focus {
  border: 1px solid #2b4748; }

.horizentalStat {
  height: 100%; }

/* ==========[ Stats Progress Part ]========= */
.horizentalStat_circular {
  background-color: #2F3031;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px; }

/* ==========[ Circular Progress ]========= */
#stat1, #stat2, #stat3, #stat4 {
  width: 70%;
  height: 70%;
  margin: auto auto; }

/* ==========[ Stats Text Part ]========= */
.horizentalStat_stat {
  background-color: #757677;
  text-align: center;
  color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }
  .horizentalStat_stat h5 {
    margin: auto auto;
    font-size: 20px; }

/* ==========[ Statistic Number ]========= */
.statNumber {
  right: -210% !important;
  color: whitesmoke !important;
  top: 70% !important;
  font-weight: 700;
  font-size: 19px; }

.hi-aboutMePanelCard {
  border-radius: 8px;
  box-shadow: 0px 0px 5px #a7a7a7; }

.card-header.hi-aboutMePanelCard_card-header {
  background-color: #2b4748;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px; }

.hi-aboutMePanelCard_textarea:focus, .hi-aboutMePanelCard_input:focus {
  border: 1px solid #2b4748; }

.hi-aboutMePanelCard_textarea {
  height: 125.5px;
  resize: none; }

.hi-aboutMePanelCard_textarea, .hi-aboutMePanelCard_input {
  border: 1px solid #a7a7a7;
  text-align: right; }

.hi-aboutMePanelCard_label {
  font-weight: 400; }

/* ============[ Global Table Stykes ]=========== */
.admins_trashTable, .comments_table, .comments_trashTable,
.media_table, .media_trashTable, .messages_inbox_table,
.messages_inbox_trashTable, .messages_outbox_trashTable, .messages_outbox_table
, .posts_table, .posts_trashTable, .sliders_table, .users_table, .users_trashTable {
  direction: rtl;
  text-align: right;
  width: 100%;
  /* ==========[ Table Header Style ]========= */
  /* ==========[ Each Table Row Style ]========= */ }
  .admins_trashTable th, .comments_table th, .comments_trashTable th,
  .media_table th, .media_trashTable th, .messages_inbox_table th,
  .messages_inbox_trashTable th, .messages_outbox_trashTable th, .messages_outbox_table
  th, .posts_table th, .posts_trashTable th, .sliders_table th, .users_table th, .users_trashTable th {
    text-align: center;
    font-weight: 700; }
  .admins_trashTable .table_tableHeader, .comments_table .table_tableHeader, .comments_trashTable .table_tableHeader,
  .media_table .table_tableHeader, .media_trashTable .table_tableHeader, .messages_inbox_table .table_tableHeader,
  .messages_inbox_trashTable .table_tableHeader, .messages_outbox_trashTable .table_tableHeader, .messages_outbox_table
  .table_tableHeader, .posts_table .table_tableHeader, .posts_trashTable .table_tableHeader, .sliders_table .table_tableHeader, .users_table .table_tableHeader, .users_trashTable .table_tableHeader {
    background-color: #3B4452 !important; }
    .admins_trashTable .table_tableHeader th, .comments_table .table_tableHeader th, .comments_trashTable .table_tableHeader th,
    .media_table .table_tableHeader th, .media_trashTable .table_tableHeader th, .messages_inbox_table .table_tableHeader th,
    .messages_inbox_trashTable .table_tableHeader th, .messages_outbox_trashTable .table_tableHeader th, .messages_outbox_table
    .table_tableHeader th, .posts_table .table_tableHeader th, .posts_trashTable .table_tableHeader th, .sliders_table .table_tableHeader th, .users_table .table_tableHeader th, .users_trashTable .table_tableHeader th {
      padding: 12px; }
  .admins_trashTable td, .comments_table td, .comments_trashTable td,
  .media_table td, .media_trashTable td, .messages_inbox_table td,
  .messages_inbox_trashTable td, .messages_outbox_trashTable td, .messages_outbox_table
  td, .posts_table td, .posts_trashTable td, .sliders_table td, .users_table td, .users_trashTable td {
    text-align: center;
    font-weight: 100;
    vertical-align: middle;
    border-top: transparent;
    /* ==========[ More button right border ]========= */ }
    .admins_trashTable td:last-child, .comments_table td:last-child, .comments_trashTable td:last-child,
    .media_table td:last-child, .media_trashTable td:last-child, .messages_inbox_table td:last-child,
    .messages_inbox_trashTable td:last-child, .messages_outbox_trashTable td:last-child, .messages_outbox_table
    td:last-child, .posts_table td:last-child, .posts_trashTable td:last-child, .sliders_table td:last-child, .users_table td:last-child, .users_trashTable td:last-child {
      border-right: 1px solid #C6CBD0; }
  .admins_trashTable tr, .comments_table tr, .comments_trashTable tr,
  .media_table tr, .media_trashTable tr, .messages_inbox_table tr,
  .messages_inbox_trashTable tr, .messages_outbox_trashTable tr, .messages_outbox_table
  tr, .posts_table tr, .posts_trashTable tr, .sliders_table tr, .users_table tr, .users_trashTable tr {
    border: 1px solid #C6CBD0; }
    .admins_trashTable tr:nth-child(2n), .comments_table tr:nth-child(2n), .comments_trashTable tr:nth-child(2n),
    .media_table tr:nth-child(2n), .media_trashTable tr:nth-child(2n), .messages_inbox_table tr:nth-child(2n),
    .messages_inbox_trashTable tr:nth-child(2n), .messages_outbox_trashTable tr:nth-child(2n), .messages_outbox_table
    tr:nth-child(2n), .posts_table tr:nth-child(2n), .posts_trashTable tr:nth-child(2n), .sliders_table tr:nth-child(2n), .users_table tr:nth-child(2n), .users_trashTable tr:nth-child(2n) {
      background-color: #D7DFE8; }
  .admins_trashTable .active_row, .comments_table .active_row, .comments_trashTable .active_row,
  .media_table .active_row, .media_trashTable .active_row, .messages_inbox_table .active_row,
  .messages_inbox_trashTable .active_row, .messages_outbox_trashTable .active_row, .messages_outbox_table
  .active_row, .posts_table .active_row, .posts_trashTable .active_row, .sliders_table .active_row, .users_table .active_row, .users_trashTable .active_row {
    background-color: #D7DFE8; }

/* ==========[ Table Dropdown Style ]========= */
.table_dropDown .dropdown-menu {
  min-width: 7rem !important; }
.table_dropDown .dropdown-toggle::after {
  content: ' ' !important;
  display: none; }

.slider_table_dropDown {
  line-height: 1.0 !important; }
  .slider_table_dropDown #dropdownMenuButton {
    color: black !important;
    border: 1px solid lightgray !important;
    border-radius: 0px !important; }
    .slider_table_dropDown #dropdownMenuButton:hover {
      -webkit-filter: brightness(100%) !important; }
  .slider_table_dropDown .dropdown-menu {
    min-width: 3rem !important; }
  .slider_table_dropDown .dropdown-toggle::after {
    font-family: "FontAwesome";
    display: none; }
  .slider_table_dropDown .dropdown-divider {
    margin-top: -5px !important; }

/* ==========[ Users Table Style ]========= */
.userInfoPlace {
  display: flex; }

.username {
  margin: auto 10px; }

.userConfirmTick {
  width: 30px;
  height: 20px; }

/* ============[ Pagination ]=========== */
.pagination {
  border-radius: 10px; }

/* ============[ Each pagination number item ]=========== */
.page-link {
  color: #1F232C;
  font-weight: 400;
  border: 1px solid #3B4452; }
  .page-link:focus {
    background-color: #3B4452;
    color: whitesmoke;
    border: 1px solid #3B4452; }
  .page-link:hover {
    border: 1px solid #3B4452; }

/* ============[ Next and Prev buttons of Pagination ]=========== */
.nextBtn, .prevBtn {
  background-color: #EAEBEC; }

.nextBtn {
  border-top-left-radius: 9px !important;
  border-bottom-left-radius: 9px !important; }

.prevBtn {
  border-top-right-radius: 9px !important;
  border-bottom-right-radius: 9px !important; }

.adminCard {
  border-radius: 10px; }

.adminCard_btn {
  background-color: #3B4452;
  color: whitesmoke;
  border-radius: 20px;
  border: transparent;
  box-shadow: none !important;
  font-size: 12px;
  padding-right: 20px;
  padding-left: 20px;
  transition: all 0.3s ease; }
  .adminCard_btn:hover {
    background-color: #3B4452; }
  .adminCard_btn:focus {
    background-color: #3B4452;
    color: whitesmoke !important; }

.adminCard_dropdown {
  font-size: 13px;
  border-radius: 10px;
  text-align: right;
  font-weight: 100;
  min-width: inherit !important; }

.hvr-sweep-to-top:before {
  background: #1F232C !important; }

.posts_dropdown #dropdownMenuButton {
  color: #1F232C !important;
  border: 1px solid #1F232C !important;
  border-radius: 10px;
  font-weight: 400 !important;
  direction: rtl;
  font-size: 12px !important;
  padding-left: 20px; }
.posts_dropdown .dropdown-item {
  direction: rtl !important; }

/* ============[ Top Bar Dropdown ]=========== */
.Topbar_dropdown_container {
  padding-top: 10px;
  padding-right: 0;
  margin-right: -50px; }

.Topbar_dropdown #dropdownMenuButton {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  border: transparent;
  color: ghostwhite;
  transition: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 14px; }
  .Topbar_dropdown #dropdownMenuButton:hover {
    cursor: pointer;
    background-color: transparent;
    color: white;
    -webkit-filter: brightness(120%); }
.Topbar_dropdown .dropdown-toggle {
  background-color: transparent !important;
  color: whitesmoke !important;
  border: none !important;
  outline: none; }
.Topbar_dropdown .dropdown-toggle::after {
  font-family: "FontAwesome";
  content: "\f078";
  border: none;
  margin-right: 10px;
  margin-top: -15px; }
.Topbar_dropdown .dropdown-item {
  font-weight: 300;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black; }
  .Topbar_dropdown .dropdown-item:active {
    background-color: transparent !important;
    outline: none; }
.Topbar_dropdown .dropdown-menu {
  border: transparent; }
.Topbar_dropdown .dropdown-divider {
  background-color: grey; }

.hi-roundedDashboardTagsTable td {
  border-left: 1px solid transparent;
  border-top: 1px solid black;
  font-weight: 500; }

.hi-roundedDashboardTagsTable tr {
  border-radius: 8px;
  border: 1px solid transparent;
  padding-right: 0; }

.hi-roundedDashboardTagsTable tr:nth-child(2n) {
  background-color: #d9dfe9;
  border: 1px solid #d9dfe9; }

a:focus, a:hover, a {
  color: transparent;
  text-decoration: none; }

.hi-roundedDashboardTagsTable thead td {
  border-top: 1px solid transparent; }

/* ============[ edit & delete]=========== */
.hi-roundedDashboardTagsTable_tbody_tr_td_edit a {
  color: #2e98b3; }

.hi-roundedDashboardTagsTable_tbody_tr_td_delete a {
  color: #b32e2e;
  margin-left: 10px; }

/* ============[ check box ]=========== */
.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox {
  cursor: pointer; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox span {
  line-height: 24px; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox span::before {
  margin-right: 4px;
  padding-left: 1px;
  width: 21px;
  height: 21px;
  border: 2px solid grey;
  display: inline-block;
  line-height: 14px;
  content: '';
  float: right;
  border-radius: 5px; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox input[type="checkbox"] {
  display: none; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox input[type="checkbox"]:checked + span::before {
  font-family: FontAwesome;
  content: "\f00c";
  color: #4d5667; }

.hi-roundedDashboardTagsTable_tbody_tr_td_li {
  list-style-type: none; }

/* ============[ Layouts Css Import ]=========== */
/* ============[ Top Bar ]=========== */
.Topbar {
  background-color: #3B4452;
  position: fixed;
  z-index: 1000; }

.Topbar_paddings {
  padding: 7px 25px; }

.Topbar_rowOfItems {
  direction: rtl !important; }

.Topbar_button {
  margin-top: auto;
  margin-bottom: auto; }

/* ============[ Top Bar Avatar ]=========== */
.Topbar_avatar_container {
  margin-right: -20px; }

.Topbar_avatar {
  border-radius: 50%;
  background-color: white;
  width: 45px;
  height: 45px;
  margin-top: 2px;
  margin-bottom: 2px; }

/* ============[ Top Bar Search ]=========== */
.hi-search-1 {
  background-color: #656c76; }

/* ============[ Top Bar logout ]=========== */
.Topbar_logoutBtn {
  margin-top: 5px; }

/* ============[ Top Bar Notifications ]=========== */
.Topbar_notificationBtn {
  /* ============[ Fixing Firefox ]=========== */ }
  .Topbar_notificationBtn .badge {
    z-index: 100;
    margin-left: -10px;
    margin-top: -7px;
    height: 20px;
    position: relative; }
@-moz-document url-prefix() {
  .Topbar_notificationBtn i {
    margin-top: -10px; }
  .Topbar_notificationBtn .badge {
    margin-left: 10px; } }
/* ============[ Main Body ]=========== */
#MainBody {
  margin-top: 80px; }

/* ============[ Side Bar ]=========== */
.Sidebar {
  background-color: #1F232C;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee; }

/* ============[ Sidebar Logo ]=========== */
.Sidebar_logo {
  display: flex;
  border-bottom: 1px solid grey;
  height: 64px;
  transition: all 0.3s ease; }
  .Sidebar_logo h1 {
    font-size: 20px;
    text-align: right;
    font-weight: 300;
    line-height: 60px;
    position: absolute;
    right: 95px; }
  .Sidebar_logo img {
    width: 55px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 30px; }
  .Sidebar_logo:hover {
    -webkit-filter: brightness(150%); }

/* ============[ Fixing the menu styles after adding wave jquery ]=========== */
#home, #posts, #gallery, #messages, #users, #comments, #admins, #settings, #backup {
  width: 100%;
  box-shadow: none;
  text-align: right;
  transition: all 0.3s ease;
  padding-left: 30px;
  padding-right: 20px; }
  #home:hover .Sidebar_menu_link, #home:focus .Sidebar_menu_link, #posts:hover .Sidebar_menu_link, #posts:focus .Sidebar_menu_link, #gallery:hover .Sidebar_menu_link, #gallery:focus .Sidebar_menu_link, #messages:hover .Sidebar_menu_link, #messages:focus .Sidebar_menu_link, #users:hover .Sidebar_menu_link, #users:focus .Sidebar_menu_link, #comments:hover .Sidebar_menu_link, #comments:focus .Sidebar_menu_link, #admins:hover .Sidebar_menu_link, #admins:focus .Sidebar_menu_link, #settings:hover .Sidebar_menu_link, #settings:focus .Sidebar_menu_link, #backup:hover .Sidebar_menu_link, #backup:focus .Sidebar_menu_link {
    color: #12a3d9 !important;
    text-decoration: none !important; }

/* ============[ Submenu styling of navigation menu ]=========== */
.Sidebar_menu_link {
  color: whitesmoke !important;
  text-decoration: none;
  text-align: right;
  transition: color 0.3s ease;
  font-weight: 100;
  font-size: 17px; }
  .Sidebar_menu_link:hover, .Sidebar_menu_link:focus {
    color: #12a3d9 !important;
    text-decoration: none !important; }
  .Sidebar_menu_link .fa-chevron-left {
    float: left; }
  .Sidebar_menu_link .countBadge {
    font-weight: 100;
    padding-top: 6px; }

/* ============[ Submenu styling of navigation menu ]=========== */
.subMenu {
  color: #b0b7c7;
  padding-right: 65px;
  font-size: 15px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  transition: all 0.3s ease; }
  .subMenu:hover, .subMenu:focus {
    color: #12a3d9 !important;
    text-decoration: none !important; }

* {
  box-sizing: border-box; }

/* ---- grid ---- */
.grid, .grid2 {
  width: 100%; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .element-item ---- */
/* 5 columns, percentage width */
.grid-item {
  float: left;
  width: 24.9%;
  min-height: 100px;
  padding: 10px; }

.grid-item--width2 {
  width: 49.9%; }

.grid-item--height2 {
  height: 200px; }

.grid-item--width3 {
  width: 33.2%; }

.grid-item:hover {
  border-color: rgba(255, 255, 255, 0.5);
  cursor: move; }

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  z-index: 200; }
  .grid-item.is-dragging .homeCard,
  .grid-item.is-positioning-post-drag .homeCard {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important; }

.packery-drop-placeholder {
  outline: 3px dashed rgba(0, 0, 0, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s; }

/* ---- Cards style in grid items of home page ---- */
.homeCard {
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  height: 100%; }

.clockCard {
  height: 255px;
  background-color: black; }

/*# sourceMappingURL=application.css.map */
