//============[ Admin Card Style ]===========
.adminCard {
  border-radius: 10px;
}
//============[ Admin Card Button Style ]===========
.adminCard_btn{
  background-color: $sormeieRoshan;
  color: whitesmoke;
  border-radius: 20px;
  border: transparent;
  box-shadow: none !important;
  font-size: 12px;
  padding-right: 20px;
  padding-left: 20px;
  transition: all 0.3s ease;

  &:hover{
    background-color: $sormeieRoshan;
  }

  &:focus{
    background-color: $sormeieRoshan;
    color: whitesmoke !important;
  }

}
//============[ Admin Card Dropdown Style ]===========
.adminCard_dropdown{
  font-size: 13px;
  border-radius: 10px;
  text-align: right;
  font-weight: $font-weight--thin;
  min-width: inherit !important;
}

//============[ Edit of hover library animation ]===========
.hvr-sweep-to-top:before{
  background: $sormeieTire !important;
}