/* ============[ Global Table Stykes ]=========== */
.table{
  direction: rtl;
  text-align: right;

  /* ==========[ Table Header Style ]========= */
  th{
    text-align: center;
    font-weight: $font-weight--medium;
  }
  .table_tableHeader{
    background-color: $sormeieRoshan !important;
  }

  td{
    text-align: center;
    font-weight: $font-weight--thin;
    vertical-align: middle;
    border-top: transparent;

    /* ==========[ More button right border ]========= */
    &:last-child{
      border-right: 1px solid #C6CBD0;
    }
  }

  /* ==========[ Each Table Row Style ]========= */
  tr{
    border: 1px solid #C6CBD0;
    &:nth-child(2n){
      background-color: #D7DFE8;
    }
  }
}

/* ==========[ Table Dropdown Style ]========= */
.table_dropDown{
  .dropdown-menu{
    min-width: 7rem !important;
  }

  .dropdown-toggle::after{
    content: ' ' !important;
    display: none;
  }
}

/* ==========[ Users Table Style ]========= */
.userInfoPlace{
  display: flex;
}
.username{
  margin: auto 10px;
}

.userConfirmTick{
  width: 30px;
  height: 20px;
}