// Descriptive color variables
$lightGray      :#f5f4f4;
$darker         :#222222;
$darkGray       :#a7a7a7;
$darkBlue       :#027398;
$green          :#2eb35a;
$blue           :#2e98b3;
$maroon         :#b32e2e;
$orange         :#e96b0f;
$dark           :#3c4451;
$Gray           :#d9dfe9;
$violet         :#4d5667;
$darkGreen      :#2b4748;
$lightGray2     :#ebebeb;
$darkGreen2     :#09686a;
$darkerBlue     :#3e4d9e;
$blueSea        :#3baeda;
$brick          :#ee534f;
$navyBlue       :#4d5667;
$lightNavyBlue  :#537c7d;
$lighterNavyBlue:#62989a;
$red            :#cb0a0a;
$cyan           :#47dcf4;

//// Functional color variables
$main-background     :$lightGray;
$dark-text           :$darker;
$light-text          :$darkGray;
$confirm-button      :$darkBlue;
$create-button       :$green;
$edit-button         :$blue;
$delete              :$maroon;
$recycleBin          :$orange;
$dark-row-table      :$dark;
$light-row-table     :$Gray;
$admin-violet        :$violet;
$admin-green         :$darkGreen;
$pre                 :$lightGray2;
$tag                 :$lightGray2;
$add-tag             :$darkGreen2;
$post                :$darkGreen2;
$pm                  :$darkBlue;
$user                :$blueSea;
$comment             :$brick;
$admins              :$navyBlue;
$userPm              :$lightNavyBlue;
$answer              :$lighterNavyBlue;
$questionBorder      :$red;
$answerBorder        :$cyan;
