/* ==========[ Transparent FA Button ]========= */
.hi-button-btn1{
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
  outline: none;
  display: flex !important;

  i{
    margin: auto !important;
  }

  &:focus{
    outline: none;
  }
}

/* ==========[ Simple button ]========= */
.hi-button-simple{
  color: white;
  border: transparent;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  font-weight: 200;

  &:focus{
    outline: none !important;
  }
}