* { box-sizing: border-box; }

/* ---- grid ---- */

.grid,.grid2 {
  width:100%;
}


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item {
  float: left;
  width: 24.9%;
  min-height: 100px;
  padding: 10px;
}

.grid-item--width2 { width: 49.9%; }
.grid-item--height2 { height: 545px; }

.grid-item--width3 { width: 33.2%; }

.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  //background: #C90;
  .homeCard{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
  }
  z-index: 200;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

/* ---- Cards style in grid items of home page ---- */
.homeCard{
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  height: 100%;
}
.clockCard{
  height: 255px;
  background-color: black;
}