/* ============[ Layouts Css Import ]=========== */

@import "Header";
@import "Sidebar";

/* ==========[ Background card stle in pages ]========= */
.bgCard{
  border-radius: 10px;
  padding: 20px 50px;
}

/* ============[ Main pages Style ]=========== */
#MainBody{
  padding: 20px 30px;
}