.hi-roundedDashboardTagsTable td {
  border-top: 1px solid black;
  font-weight: 500;
}
.hi-roundedDashboardTagsTable tr{
  border-radius: 8px;
}

a:focus, a:hover, a {
  color: transparent;
  text-decoration: none;
}

.hi-roundedDashboardTagsTable thead td {
  border-top: 1px solid transparent;
}

/* ============[ edit & delete]=========== */

.hi-roundedDashboardTagsTable_tbody_tr_td_edit a {
  color: $edit-button;
}

.hi-roundedDashboardTagsTable_tbody_tr_td_delete a {
  color: $delete;
}

/* ============[ check box ]=========== */

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox {
  cursor: pointer;
}

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox span {
  line-height: 24px;
}

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox span::before {
  margin-right: 4px;
  padding-left: 1px;
  width: 21px;
  height: 21px;
  border: 2px solid grey;
  display: inline-block;
  line-height: 14px;
  content: '';
  float: right;
  border-radius: 5px;
}

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox input[type="checkbox"] {
  display: none;
}

.hi-roundedDashboardTagsTable_tbody_tr_td_li_square-checkbox input[type="checkbox"]:checked + span::before {
  font-family: FontAwesome;
  content: "\f00c";
  color: $navyBlue;
}

.hi-roundedDashboardTagsTable_tbody_tr_td_li {
  list-style-type: none;
}


